#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.LoginMain {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.LoginImage {
  background-color: aqua;
  height: 100%;
  flex: 2;
  width: 100%;
}

.LoginForm{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: antiquewhite;
}