#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.LoginMain {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.LoginImage {
  height: 100%;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.LoginImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginForm{
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1f4c49;
  padding: 20px;
  align-items: center;
}

.LoginForm h1{
  color: white;
}

.LoginForm label{
  color: white;
  padding: 20px;
}

.LoginForm p,a{
  color: white;
}

.LoginForm button{
  margin: 20px;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.booksheader h1{
  color: #1f4c49;
}

.books-card{
  background-color: rgb(241, 247, 244);
  border-color: #689693;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  margin-top: auto;
  display: flex;
  height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.books-card h2, 
.books-card p{
  color: #1f4c49;
}

.books-card:hover{
  background-color: #1f4c49;
}

.books-card:hover h1,
.books-card:hover h2,
.books-card:hover p{
  color: white;
}

.details{
  max-width: 600px;
  align-items: center;
}