#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS for Login Page */

.LoginMain {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.LoginImage {
  height: 100%;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.LoginImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginForm{
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1f4c49;
  padding: 20px;
  align-items: center;
}

.LoginForm h1{
  color: white;
}

.LoginForm label{
  color: white;
  padding: 20px;
}

.LoginForm p,a{
  color: white;
}

.LoginForm button{
  margin: 20px;
}

/* CSS for Login Page */

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 24px;
  background-color: #1f4c49;
}

.MainMenu {
  font-weight: 500;
}

.User {
  position: relative;
  margin-right: 24px;
}

.UserIcon{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 02s ease;
}

.DropdownMenu {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  min-width: 120px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.DropdownMenu button {
  width: 100%;
  padding: 10px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.DropdownMenu button:hover {
  background-color: #f0f0f0;
}

.user:hover .DropdownMenu {
  display: block;
}

/* CSS for Books Page */

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.booksheader h1{
  color: #1f4c49;
}

.books-card{
  background-color: rgb(241, 247, 244);
  border-color: #689693;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  margin-top: auto;
  display: flex;
  height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.books-card h2, 
.books-card p{
  color: #1f4c49;
}

.books-card:hover{
  background-color: #1f4c49;
}

.books-card:hover h1,
.books-card:hover h2,
.books-card:hover p{
  color: white;
}

.details{
  max-width: 600px;
  align-items: center;
}